<h2>Update Subject Details</h2>
<div class="container-fluid" *ngIf="subjectForm">
    <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" type="text" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input formControlName="description" type="description" id="description" class="form-control">
        </div>
        <button class="btn btn-danger" type="button" routerLink="/subjects" >Cancel</button>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>